@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

:root{
    --background_color_one: white;

}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
   margin: 0 auto !important ; 
   max-width: 1240px;

  
}
.wrapper{
    
    margin: 0 auto !important;
    
}
.nav-wrapper {
    width:100%;
    min-height: 9.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2.5rem;
    position: relative;
 
  }
  .nav-wrapper .nav-link.active, .nav-wrapper,a.nav-link:hover {
    color: #FA4A0C !important;
  }
  
  .nav-wrapper .nav-item a {
    color: var(--text_color);
    font-size: 1rem;
    line-height: 1.75px;
    letter-spacing: 0.2px;
    font-weight: 600;
    font-family: var(--font_one);
    
  }
  
  .nav-wrapper .nav-item {
    padding: 0.625rem;
    margin: 2.5rem;
  }
  
  .nav-align {
    justify-content: end;
  }
  
  .hero-header {
    background-image: linear-gradient(0deg, rgba(23, 16, 16, 0.6), rgba(23, 16, 16, 0.6)), url(../images/hero_image.png);
    height: 38.6875rem;
    background-size: cover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 73px 217.5px 223px;
    justify-content: center;
    max-width: 1240px;
  }
  .hero-content{
      margin-top:50px;
  }
.hero-content h1{
    
    font-family: 'Poppins';
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0.2px;
    font-size: 58px;
    color: white;
    white-space: pre-wrap;

   
}
.hero-content h3 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    line-height: 36px;
    color: #FFFFFF;
    
  }
  
  .hero-content h4 {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    margin: 0;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    text-align: center;
  
  }
    .button-wrapper{
        flex-direction: row;
        margin:54px 0 0 0;
    }
    .button-wrapper button{
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    font-family: var(--font_one);
    padding: 16px 58px;
    font-weight: 700;
    border-radius: 30px;
    }
    
    button#btn-playstore{
    background: #FA4A0C;
    box-shadow: 0px 10px 30px rgba(183, 50, 39, 0.2);
    border-radius: 30px;
    color:white;
    border-color: orangered;
    }
    
    button#btn-appstore {
        margin-left: 34px;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 30px;
        color:white;
    }
    button#btn-playstore:hover{
        box-shadow: 0px 0px 2px 1px orangered;
    }
    button#btn-appstore:hover{
        background-color: transparent;
        box-shadow: 0px 0px 2px 1px white;
    }
    
    .app-view{
        height: 700px;
    }
    .image-wrapper{
        position: relative;
        text-align: center;
        
    }
    #view1{
       position: absolute;
       left:30%;
       top:-100px;
       
    }
    #view2{
        position: absolute;
        top:-50px;
    }

    .partition{
        justify-content: center;
         position: relative;
        align-items: center;
        text-align: center;
        
    }

    .line{
    position: absolute;
    width: 884px;
    height: 0px;
    left: 168px;
    background: #C4C4C4;
    border: 3px solid #E4E4E4;
    }
    
    div.desc {
    position: absolute;
    left: 395px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 36px;
    letter-spacing: 0.1px;
    margin-top:79.09px;
    color: #000000;
    opacity: 0.8;
    }
    
    .steps-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 760px;
        width: 256px;
        position: relative;
        margin-top: 58px;
    }
    .step1{
        position: absolute;
        display: flex;
        height: 806.99px;
        /* left: -30px; */

    }
    .login-img-wrapper img{
        position: absolute;
        width: 256px;
        height: 497px;
        /* left: 261px; */
        top: 180px;
        filter: drop-shadow(50px 30px 150px rgba(46, 4, 4, 0.15));
    }
    .step1-content{
    position: absolute;
    width: 568px;
    height: 280px;
    left: 500px;
    top: 223px;
    
    }
    .step1-content h3{
    position: absolute;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #FA4A0C;
    margin: 17px;
    }
    .step1-content h4{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: #737373;
    margin: 17px;

    }
    .step1-content h2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 57px; 
    letter-spacing: 0.2px;
    color: #252B42;
    margin:17px;
    padding: 30px 0 0 0;
    }
    .step2{
    position: absolute;
    height: 806.99px;
    left: -50px;
    top: 806px;
    }
    .step2-content{
        position: absolute;
        width: 568px;
        height: 280px;
        left: 200px;
        top: 200px;
    }
    .menu-image-wrap img{
        position: absolute;
        width: 247px;
        height: 503px;
        left: 900px;
        top: 99px;
        filter: drop-shadow(50px 30px 150px rgba(46, 4, 4, 0.15));
    }
    .step3{
        position: absolute;
        width: max-content;
        height: 806.99px;
        /* left: -50px; */
        top: 1612px;
        background: #FFFFFF;
        
    }
    div.pay-image-wrap{
        position: absolute;
        width: 257px;
        height: 497px;
        /* left: 240px; */
        top: 96px;
        filter: drop-shadow(50px 30px 150px rgba(46, 4, 4, 0.15));

    }
  
    footer{
        position: relative;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: row;
    }
    .hero-light{
        position: relative;
        height: 510px;
        top: 1650px;
        background-image: linear-gradient(0deg, rgba(37, 43, 66, 0.4), rgba(37, 43, 66, 0.4)), url(../images/footer_image.png);
        display: flex;
        background-size: cover;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        width: 1440px;

        left: 0px;
   
    }


    .hero-light-content{
        position: absolute;
        width: 860px;
        height: 135px;
        margin: auto;
        top: 130px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px;
    }
    .hero-light-content h2{
        font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 5px 10px;
    left: 1.91%;
    right: 1.91%;
    top: 12.99%;
    bottom: 12.99%;
    }
    .hero-light-content h4{
        left: 1.16%;
        right: 1.16%;
        top: 17.24%;
        bottom: 17.24%;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 38px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #FFFFFF;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 10px;
    }
    /* div.footer-wrapper{
        position: absolute;
        width: 1240px;
        height: 200px;
        top: 4393.9px;
        background: #FFFFFF;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    } */

    .button-wrapper2 {
        flex-direction: row;
        margin: 54px 0 0 0;
    
    }
    
    #playstore-btn2 {
     
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 28px;
        border-radius: 10px;
        letter-spacing: 0.2px;
        color: #FFFFFF;    
        align-items: center;
        padding: 18px 31px;
        width: 142px;
        height: 64px;
        left: 0px;
        top: 0px;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 10px;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 16px;
        
    }
    
    #appstore-btn2 {
    
        color: #FFFFFF;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.2px;
        color: #FFFFFF;
        order: 0;
        flex-grow: 0;
        margin: 0px 10px;
        width: 173px;
        height: 60px;
        left: 158px;
        top: 2px;
        background-color: transparent;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 10px;
        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 0px 16px;
    
    }

    #appstore-btn2:hover,#playstore-btn2:hover,
    #playstore-btn2.active,
    #appstore-btn2.active{
        background-color: #FA4A0C;
        color: white;
        border: none;
    }

    .footer-lower{
        position:absolute;
        top: 2160px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 36.9px 0 53.1px;
        
    }
   
    .ftr-icon i{
        font-size: 32px;
        color: orangered;
        padding:0 12px 0 12px;

    }
    .copyrights{
        
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.1px;
        color: #5C5C5C;
    }
    @media only screen and (max-width: 539px) {
    .btn-wrapper button:not(:first-child) {
        margin-left: 34px;
    }
    .navbar-toggler:focus {
        box-shadow: none;
    }
    }
    @media only screen and (max-width: 1024px) {
        .nav-wrapper {
        padding: 0 2.5rem;
        }
    
        .nav-wrapper .nav-item {
        margin: 1.5rem;
        }
    
    }

    @media only screen and (max-width: 768px) {
        .nav-wrapper {
        padding: 0 1.5rem;
        min-height: 7rem;
        }
        .nav-wrapper .nav-item {
            margin: 1.5rem;
        }
        .navbar-toggler:focus {
            box-shadow: none;
        }
    }
